Examples/org.hl7.fhir.validator.jar
StructureDefinition/Extension-spineEndpoint.StructureDefinition.xml
StructureDefinition/Spine*.xml
StructureDefinition/UKCore*.xml
StructureDefinition/ExtensionUKCore*.xml
StructureDefinition/Extension-Spine-ActorRoleServiceOrSpecialty.StructureDefinition.xml
.idea